
@import url('https://api.fontshare.com/v2/css?f[]=clash-grotesk@200,700,400,300&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  font-family: 'Clash Grotesk', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
